<div class="container">

  <div class="header">
    <h2>Employee Management</h2>

    <button mat-raised-button color="primary" (click)="openDialog()">
      Add Employee
    </button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="employees" class="mat-elevation-z8">

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let e">{{e.id}}</td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let e">{{e.name}}</td>
      </ng-container>

      <!-- Department -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let e">{{e.department}}</td>
      </ng-container>

      <!-- Mobile -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef>Mobile</th>
        <td mat-cell *matCellDef="let e">{{e.mobile}}</td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let e">
          <span class="status" [ngClass]="e.status === 'Active' ? 'active' : 'inactive'">
            {{e.status}}
          </span>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let e; let i = index">
          <button mat-stroked-button color="primary" (click)="edit(e, i)">Edit</button>
          <button mat-stroked-button color="warn" (click)="delete(i)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id','name','department','mobile','status','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id','name','department','mobile','status','actions'];"></tr>

    </table>
  </div>

</div>